{% extends "layout.html" %}

{% block body %}
<div class='ui text container'>
  <h1>
    {{message}}
  </h1>
  <br>
  <div id="messageDiv">
    {% if error %}
    <div class="ui red message">{{error}}</div><br>
    {% endif %}
  </div>
  <form class="ui form" id="form" action={{action}} method='post' onsubmit="return submitClicked()">
    <input type="hidden" id="uid" name="uid" value={{uid}}>
    <input type="hidden" id={{id_name}} name={{id_name}} value={{group_id}}>
    <input type="hidden" id="token" name="token" value={{token}}>
    <div class="ui grid">
    <div class="ui form six wide column centered">
    <div class="one field">
      <div class="field">
        <label>Email</label>
        <div class="one field">
          <div class="field">
            <input type="text" placeholder="Email" name="email" id="email">
          </div>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="one field">
          <div class="field">
            <input type="password" placeholder="Password" name="password" id="password">
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <br>
    <div class="ui submit button">Submit</div>
  </form>
</div>
{% endblock %}
